* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial; }
form { background: rgba(65, 240, 196, 0.089); padding: 3px; position: fixed; bottom: 0; width: 60%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form #button { color:rgb(243, 247, 245); background: #2D9F0B; border: none; padding: 10px;  width: 9%; }
#messages { list-style-type: none; margin: 0; padding: 0;border-radius: 10%;align-content:right; }
#messages li { padding: 5px 10px; border-radius: 10%;align-content:right;}
#messages li:nth-child(odd) { background: rgb(49, 200, 12);width: 60%;align-content:right;border-radius: 10%}
#notifyUser { position: fixed; bottom: 42px; width: 100%;padding: 40px }
